*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(209, 224, 234);
}

.main-page-header{
    padding: 10px 0px;
    background-color: rgb(130, 178, 208);
}

.main-page-header .company-name{
    font-weight: 600;
    color: rgb(30, 74, 127);
    font-size: 22px;
}

.navigation{
    
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.display-name{
    font-weight: 600;
}

#transact-btn{
    background-color: rgb(142, 189, 216);
    text-decoration: none;
}

#add-account-btn{
    background-color: rgb(142, 189, 216);
    text-decoration: none;
}

.container{
    margin: 10px auto;
}

.offcanvas{
    background-image: url("../images/bg_image.JPG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.transact-btn{
    background-color: rgb(142, 189, 216);
    text-decoration: none;
}

.payment-card{
    display: none;
}

.transfer-card{
    display: none;
}

.deposit-card{
    display: none;
}

.withdraw-card{
    display: none;
}
